<h3>Assets</h3>

<RadzenGrid TItem="OwnedAssetDTO" AllowFiltering="true" AllowPaging="true" PageSize="5" AllowSorting="true" EditMode="DataGridEditMode.Single" LoadData="LoadData">
</RadzenGrid>

@code {
    async Task LoadData(LoadDataArgs args)
    {}
}
